.gradient-custom-3 {
  /* fallback for old browsers */
  background-color: rgb(0, 0, 0);

}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: rgb(0, 0, 0);
  color: aliceblue;

}

.py-5 {
  padding-top: 6rem !important;
  padding-bottom: 8% !important;/* Exemplo de valor relativo */
}