.gradient-custom-3 {
  /* fallback for old browsers */
  background-color: rgba(206, 133, 254, 0.748);

}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: rgba(208, 139, 255, 0.5);

  border: 2px solid #8000ff;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(203, 132, 250, 0.5), rgba(194, 103, 254, 0.5));

  background: linear-gradient(to right, rgba(203, 132, 250, 0.5), rgba(194, 103, 254, 0.5))
}